/* Contact Section */
.contact-section {
  padding: 50px 20px;
  text-align: center;
}

.contact-section h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: white;
}

.contact-form {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #a4a0a05a;
  border-radius: 5px;
  background-color:#233147;
  color: white;
}
.contact-form input:focus{
    outline: none;
}
.contact-form textarea:focus{
    outline: none;
}
.contact-form button {
  padding: 12px;
  background: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:hover {
  background: #0056b3;
}
